body {
  font-family: cursive;
  background-color: #379237;
}

h1 {
  font-size: 4vw;
  margin-left: 40vw;
  text-shadow: 5px 5px 5px rgb(13, 13, 13);
  color: rgb(248, 232, 4);
}

a {
  text-decoration: none;
  color: black;
}

a:active {
  color: blue;
}

#submit_button {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid black;
  background-color: rgb(168, 231, 20);
  color: black;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0.2rem 0.2rem black;
}

#sort_button {
  display: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

input {
  margin: 10px;
}

.displayWrap {
  display: flex;
  justify-content: center;
  width: 100%;
}

#display_card {
  padding: 10px;
  width: 100%;
  border: 5px solid rgb(62, 225, 41);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#display_card::-webkit-scrollbar-thumb {
  background: rgb(248, 232, 4);
  border-radius: 10px;
}

#display_card::-webkit-scrollbar {
  width: 10px;
}

.recent {
  margin-left: 5vw;
}

div#display_card {
  background-color: green;
  width: 350px;
  height: 300px;
  overflow: auto;
}

.card:nth-child(even) {
  background-color: rgb(202, 211, 79);
  box-shadow: yellow;
  border: 2px solid rgb(62, 225, 41);
}

#card1 {
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card button {
  height: 30px;
  box-shadow: 0.2rem 0.2rem black;
}

hr {
  width: 100px;
  color: black;
  border: 2px solid black;
}

.refresh {
  border: 2px solid black;
  background-color: rgb(168, 231, 20);
  color: black;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  box-shadow: 0.2rem 0.2rem black;
}

#title,
#author {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 300px;
  border: 2px solid rgb(62, 225, 41);
}

#title::placeholder,
#author::placeholder {
  color: rgb(56, 56, 53);
}

.sectionList h2 {
  text-shadow: 5px 5px 5px rgb(13, 13, 13);
  color: rgb(248, 232, 4);
}

section {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newBook {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(62, 225, 41);
  height: 300px;
  margin-top: 7vw;
}

.newBook h2 {
  text-shadow: 5px 5px 5px rgb(13, 13, 13);
  color: rgb(248, 232, 4);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  margin-top: -5vw;
  display: flex;
  justify-content: space-around;
}
